<!doctype html>
<html lang='nl' xmlns:th='http://www.thymeleaf.org'>
<head th:replace="fragments::head(title='Rijksregisternummer werknemer')"></head>
<body>
	<h1 th:text='|Rijksregisternummer van ${werknemer.voornaam} ${werknemer.familienaam}|'></h1>
	<form th:action='@{/werknemershierarchie/{id}/rijksregisternummer (id=${werknemer.id})}' th:object='${rijksregisternrForm}' method='post'>
		<label>
			Rijksregisternummer:
			<span th:if="${#fields.hasErrors('rijksregisternr')}" th:errors='*{rijksregisternr}'></span>
			<input th:field='*{rijksregisternr}' autofocus>
		</label>
		<input class='submitKnop' type='submit' value='Opslag'>
	</form>
</body>
</html>