<!doctype html>
<html lang='nl' xmlns:th='http://www.thymeleaf.org'>
<head th:replace="fragments::head(title='Werknemershi&euml;rarchie')"></head>
<body>
	<h1 th:text='|${werknemer.voornaam} ${werknemer.familienaam}|'></h1>
	<dl class="werknemersdata">
		<dt>Voornaam</dt>
			<dd th:text='${werknemer.voornaam}'></dd>
		<dt>Familienaam</dt>
			<dd th:text='${werknemer.familienaam}'></dd>
		<dt>Email adres</dt>
			<dd th:text='${werknemer.email}'></dd>
		<dt th:if='${werknemer.heeftChef()}'>Chef</dt>
			<dd th:if='${werknemer.heeftChef()}'>
				<a th:href='@{/werknemershierarchie/{id} (id=${werknemer.chef.id})}'>
					<span th:text='|${werknemer.chef.voornaam} ${werknemer.chef.familienaam}|'></span>
				</a>
			</dd>
		<dt>Salaris</dt>
			<dd th:text='${{werknemer.salaris}}'></dd>
		<dt>Jobtitel</dt>
			<dd th:text='${werknemer.jobtitel.naam}'></dd>
		<dt>Geboorte</dt>
			<dd th:text='${{werknemer.geboorte}}'></dd>
		<dt th:if='${werknemer.heeftOndergeschikten()}'>Ondergeschikten</dt>
			<dd th:each='ondergeschikte:${werknemer.ondergeschikten}'>
				<a th:href='@{/werknemershierarchie/{id} (id=${ondergeschikte.id})}'>
					<span th:text='|${ondergeschikte.voornaam} ${ondergeschikte.familienaam}|'></span>
				</a>
			</dd>
		<dt>Foto</dt>
			<dd><img id='foto' th:src='@{/images/{id}.jpg (id=${werknemer.id})}' alt="foto werknemer"></dd>	
	</dl>
	<ul id='linksNaarOpslagEnRijksregisternummer'>
		<li><a th:href='@{/werknemershierarchie/{id}/opslag (id=${werknemer.id})}'>Opslag</a></li>
		<li><a th:href='@{/werknemershierarchie/{id}/rijksregisternummer (id=${werknemer.id})}'>Rijksregisternummer</a></li>
	</ul>	
</body>
</html>