<!doctype html>
<html lang='nl' xmlns:th='http://www.thymeleaf.org'>
<head th:replace="fragments::head(title='jobtitels')"></head>
<body>
	<h1 th:text='Jobtitels'></h1>
	<ul id=linksNaarJobtitels>
		<li th:each='jobtitel:${jobtitels}'>
			<a th:href='@{/jobtitels/{id} (id=${jobtitel.id})}'>
				<span th:text='${jobtitel.naam}'></span>
			</a>
		</li>	
	</ul>
	<div th:if='${jobtitel != null}'>
		<h2 th:text='${jobtitel.naam}'></h2>
		<ul th:if='${!jobtitel.werknemers.isEmpty()}'>
			<li th:each='werknemer:${jobtitel.werknemers}'>
				<a th:href='@{/werknemershierarchie/{id} (id=${werknemer.id})}'>
					<span th:text='|${werknemer.voornaam} ${werknemer.familienaam}|'></span>
				</a>
			</li>
		</ul>
		<span th:if='${jobtitel.werknemers.isEmpty()}'>Er werden geen werknemers met deze jobtitel gevonden.</span>
	</div>
	<div th:if='${param.fout !=null}' th:text='${param.fout}' class='fout'></div>
</body>
</html>