
body {
	background-color: #fff;
    font-family: "Fira Sans",sans-serif;
    font-size: 16px;
    line-height: 1.25;
    color: #474747;

}

#menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#menu li a {
	background-color: #6495ED;
	display: block;
	height: 2em;
	width: 15em;
	margin: 1em;
	padding-top:0.75em;
	text-decoration: none;
	text-align: center;
	color: white;

}

#menu li a:hover {
	background-color:  #191970;
}

#login {
	background-color: #ADD8E6;
	width: 360px;
	margin: auto;
	margin-top: 100px;
	padding: 4em;
	box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

#login input {
	background-color: white;
	display: block;
	width: 20em;
	margin: 1em;
	padding: 0.5em;
  	border: 0;
  	box-sizing: border-box;
  	font-size: 16px; 	
}

#login input[type=submit] {
	background-color: #6495ED;
	color: white;
}
#login input[type=submit]:hover {
	background-color: #191970;
	color: white;
}

.fout {
	background-color: red;
	box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
	width: 460px;
	margin: 20px auto;
	padding: 1em 0;
	color: white;
	font-weight: bold;
	text-align: center;
}