
body {
	background-color: #fff;
	margin-left:30px;
    font-family: "Fira Sans",sans-serif;
    font-size: 16px;
    line-height: 1.25;
    color: #474747;
}

input {
	font-family: "Fira Sans",sans-serif;
	font-size: 16px;
}

#menu, #linksNaarOpslagEnRijksregisternummer, #linksNaarJobtitels{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#menu li a, #linksNaarOpslagEnRijksregisternummer li a, .submitKnop, #linksNaarJobtitels li a {
	background-color: #6495ED;
	display: block;
	height: 2em;
	width: 11em;
	margin: 0.5em;
	padding-top:0.75em;
	text-decoration: none;
	text-align: center;
	color: white;
}

.submitKnop {
	height: 3em;
	width: 9em;
	padding-bottom:0.75em;
	margin-left: 10px;
	margin-top: 30px;
	border: none;
	font-size: 16px;
}

#menu li a:hover, .submitKnop:hover, #linksNaarJobtitels li a:hover {
	background-color:  #191970;
}

#login {
	background-color: #ADD8E6;
	width: 360px;
	margin: auto;
	margin-top: 100px;
	padding: 4em;
	box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

#login input {
	background-color: white;
	display: block;
	width: 20em;
	margin: 1em;
	padding: 0.5em;
  	border: 0;
  	box-sizing: border-box;	
}

#login input[type=submit] {
	background-color: #6495ED;
	color: white;
}

#login input[type=submit]:hover {
	background-color: #191970;
	color: white;
}

.werknemersdata {
	margin-left: 10px;
}

.werknemersdata dt {
	margin-top: 0.5em;
}

.werknemersdata dd {
	color: #191970;
	font-weight: bold;
	margin-left: 0;
}

.werknemersdata dd img {
	height: 204px;
	width: 204px;
}

form label {
	margin-left: 10px;
}

form label input {
	margin-left: 10px;
	display: block;
}

form label span {
	color: red;
	font-weight: bold;
}

#linksNaarJobtitels {
	display:block;
	width:100%;
}

#linksNaarJobtitels li {
	display: inline-block;
}

.fout {
	background-color: red;
	box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
	width: 560px;
	margin: 20px auto;
	padding: 1em 0;
	color: white;
	font-weight: bold;
	text-align: center;
}

