<!DOCTYPE html>
<html lang='nl' xmlns:th='http://www.thymeleaf.org'>
<head th:replace="fragments::head(title='Inloggen')"></head>
<body>
	<form th:action='@{/login}' method='post' id='login'>
		<input name='username' placeholder='login' required autofocus>
		<input name='password' placeholder='paswoord' type='password' required>
		<input type='submit' value='Inloggen'>
	</form>
	<div th:if='${param.error != null}' class='fout'>Uw gebruikersnaam en/of paswoord waren niet correct.</div>
</body>
</html>